@font-face {
	font-family: Jaapokki;
	src: url('../fonts/jaapokki-regular.eot');
	src: url('../fonts/jaapokki-regular.eot') format('embedded-opentype'),
	url('../fonts/jaapokki-regular.woff') format('woff'),
	url('../fonts/jaapokki-regular.ttf') format('truetype'),
	url('../fonts/jaapokki-regular.svg#jaapokki-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaStd-Book';
	src:  url('../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/FuturaStd-Book.otf')  format('opentype'),
	url('../fonts/FuturaStd-Book.woff') format('woff'), 
	url('../fonts/FuturaStd-Book.ttf')  format('truetype'), 
	url('../fonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

.scroll-hack {
	height: 120%;
	display: inline-block;
	position: absolute;
	width: 100%;
	pointer-events: none;
	opacity: 0;
}

body {
	font-family: monospace;
	font-size: 18px;
	background-color: #050547;
	color: #fff;
	margin: 0;
	font-family: Jaapokki, sans-serif;
}
canvas {
	width: 100%;
	height: auto;
	position: fixed;
}

#data li, p, #calendar {
	font-family: FuturaStd-Book, sans-serif;
	line-height: 1.2;
}


.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	pointer-events:none;
}

.scene {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#border-container, #moon-container, #data-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#border-container {
	pointer-events:none;
	padding: 15px 10px;
}

.border {
	border: 2px solid #17F1BE;
	height: 100%;
	background: url('../images/dots.svg');
	background-size: 10px;
}


.layer:nth-child(1) {
	opacity: 0.0;
}

#moon {
	width: 80%;
	padding-bottom: 80%;
	position: absolute;
	background: red;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	background: url('../images/moon-test.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 400px;
}

#data {
	position: absolute;
	width: 100%;
	max-width: 400px;
	padding: 0 60px;
	box-sizing:         border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	left: 10px;
	bottom: 60px;
	transition:           all 250ms ease;
	-webkit-transition:   all 250ms ease;
	-moz-transition:      all 250ms ease;
}

#data.hidden {
	bottom: -180px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	text-decoration: none;
	list-style: none;
}

h1 {
	letter-spacing: 10px;
	line-height: 1;
	margin-bottom: 10px;
}

p {
	font-size: 12px;
	margin: 0;
}

header {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 20%;
}

#title {
	text-align: center;
	display: inline-block;
	overflow: hidden;
	left: 50%;
	transform:          translateX(-50%);
	-webkit-transform:  translateX(-50%);
	-moz-transform:     translateX(-50%);
	position: absolute;
	top: 44px;
	text-transform: uppercase;
	height: 45px;
	overflow: hidden;
}

#day {
	transition:           all 250ms ease;
	-webkit-transition:   all 250ms ease;
	-moz-transition:      all 250ms ease;
}

#day.hidden {
	margin-left: -22px;
}

#time {
	transition:           all 250ms ease;
	-webkit-transition:   all 250ms ease;
	-moz-transition:      all 250ms ease;	
}

#time.hidden {
	margin-top: 25px;
}

#menuBtn {
	width: 24px;
	height: 24px;
	padding: 40px;
	cursor: pointer;
	position: fixed;
	left: 0;
	transition:           all 250ms ease;
	-webkit-transition:   all 250ms ease;
	-moz-transition:      all 250ms ease;
}

#menuBtn.hidden {
	left: -100px;
}

#calendar {
	margin-top: 70px;
	transition:           all 250ms ease;
	-webkit-transition:   all 250ms ease;
	-moz-transition:      all 250ms ease;
}

#calendar.hidden {
	margin-top: 80px;
	transform: scale(0.5);
	opacity: 0;
}

#calendar-container {
	width: 100%;
	height: 100%;
	top: 60px;
	position: absolute;
	padding: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.calendar-column, .day-column {
	float: left;
	display: inline-block;
	padding: 0;
	padding-top: 14.285714285%;
	margin: 0;
	width: 14.285714285%;
	box-sizing: border-box;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
}


.calendar-column.on {
	background: url('../images/icon-100.svg');
	background-repeat: no-repeat;
	background-position: center 5px;
	background-size: 34px;
	margin-bottom: 5px;
}

.day-column {
	padding: 0;
	font-family: Jaapokki, sans-serif;
}

#closeBtn {
	position: fixed;
	z-index: 99;
	bottom: 2%;
	left: 50%;
	cursor: pointer;
	padding: 40px;
	transform: translateX(-50%);
	transition:           all 250ms ease;
	-webkit-transition:   all 250ms ease;
	-moz-transition:      all 250ms ease;
}

#closeBtn.hidden {
	bottom: -100px;
}